/*Top banner */
#Banner {
    border: 1px solid #E3967A;
    width:100%;
    height:45%;
    position:absolute;
    top:0;
    left:0;
    font-family: "Segoe UI Light", Tahoma, Geneva, Verdana, sans-serif;
    text-align:center;
    background-color:#E3967A;
    color:#ffffff;
    background-size: cover;
    /*coutersey of Ulises Fernandez, JMU' 2023, BS Computer Science, send potential offers fernan.ulises@gmail.com*/
    /*(background: linear-gradient(#E3967A, #DBAEA9);*/
    background-image: linear-gradient(rgba(0, 0, 0, 0.25), rgba(0, 0, 0, 0.25)), url("13561391_red-hat.jpg");
  
  }

html {
    background:#EACDC5;
    overflow-x: hidden;

}

/* Acknowledgements and References underline */
#north, #south{
    border: 1px double #333;
    width: 25%;
    color: #333;
    text-align: center;
    left: 25%
}

/* Banner quote margins and font */
#blurb {
    margin-right: 10%;
    margin-left: 10%;
    font-family: "Segoe UI Light", Tahoma, Geneva, Verdana, sans-serif;

}

/* Banner author information */

#authorTitle {
  font-family: EB Garamond, Georgia, serif;
  color:#ffffff; 
  left: 25%;
}

/* Acknowledgements */
#ack {
  top: 100%;
  width: 100%;
  position: absolute;
  text-align: center;
  font-family: EB Garamond, Georgia, serif;
  color:#422E16;
}

#references {
  top: 150%;
  width: 100%;
  position: absolute;
  text-align: center;
  font-family: EB Garamond, Georgia, serif;
  color:#422E16;
}

#authorContent {
  color:#ffffff; 
  font-family: "Segoe UI Light", Tahoma, Geneva, Verdana, sans-serif;

}

/* sub-category boxes */
.child1, .child2, .child3, .child4, .child5, .child6 {
  display: inline-block;
  border: 3px solid #655035;
  background: linear-gradient(#E3967A, #EACDC5);
  font-family: "Segoe UI Light", Tahoma, Geneva, Verdana, sans-serif;
  vertical-align: middle;
  text-align:center;
  font-size:70%;
  bottom:5%;
  position: absolute;
  width: 12%;
  height: 40%;
}
.child1 { 
  left: 4%;
}
  .child2 {
    left: 20%
  }
  .child3 {
    left: 36%;
  }
  
  .child4 {
    left: 52%;
  }

  .child5 {
    left: 68%;
  }
  .child6 {
    left: 84%;
  }

  /* responsivity for landscape phone */
  @media only screen and (max-height: 450px) {
    #Banner {
      height: 80%;
    }

    .child1, .child2, .child3, .child4, .child5, .child6 {
      top: 85%;
      font-size: 45%;
    }

    #ack {
      top: 150%;
      width: 100%;
    }

    #references {
      top: 250%;
      width: 100%;
    }
  }

  /* responsivity for portrait phone */
  @media only screen and (max-width: 450px) {

    #Banner {
      height: 55%;
    }

    .child1, .child2, .child3, .child4, .child5, .child6 {
      width: 70%;
      height: 10%;
    }

    .child1 {
      left: 15%;
      top: 70%;
    }
    .child2 {
      left: 15%;
      top: 90%; 
    }
    .child3 {
      bottom:10%;
      left: 15%;
      top: 110%;
    }
    .child4 {
      bottom: 10%;
      left: 15%;
      top: 130%;
    }
  
    .child5 {
      bottom:10%;
      left: 15%;
      top: 150%;
    }
    .child6 {
      bottom: 10%;
      left: 15%;
      top: 170%;

      
    }

    #ack {
      top: 190%;
      width: 100%;
    }

    #references {
      top: 230%;
      width: 100%;
    }
  }