*,
*::before,
*::after {
    box-sizing: border-box;
}

[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
    position: absolute;
    left: -9999px;
}

.modal {
    align-items: top;
}

.modal-btn:checked+label,
.modal-btn:not(:checked)+label {
    position: relative;
    font-weight: 500;
    font-size: 15px;
    line-height: 2;
    height: 50px;
    transition: all 200ms linear;
    border-radius: 4px;
    width: 95%;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    -ms-flex-item-align: center;
    align-self: center;
    border: none;
    cursor: pointer;
    background-color: #1A2F26;
    color: #E3967A;
    box-shadow: 0 12px 35px 0 rgba(16, 39, 112, .25);
}

.modal-btn:not(:checked)+label:hover {
    background-color: #E3967A;
    color: #1A2F26;
}

.modal-btn:checked+label .uil,
.modal-btn:not(:checked)+label .uil {
    margin-left: 10px;
    font-size: 18px;
}

.modal-btn:checked+label:after,
.modal-btn:not(:checked)+label:after {
    position: fixed;
    margin: 10px auto;
    top: 10px;
    right: 30px;
    z-index: 110;
    width: 40px;
    border-radius: 3px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    font-size: 18px;
    background-color: #E3967A;
    color: #1A2F26;
    content: '\00d7';
    box-shadow: 0 12px 25px 0 rgba(16, 39, 112, .25);
    transition: all 200ms linear;
    opacity: 0;
    pointer-events: none;
    transform: translateY(20px);
}

.modal-btn:checked+label:hover:after,
.modal-btn:not(:checked)+label:hover:after {
    background-color: #1A2F26;
    color: #E3967A;
}

.modal-btn:checked+label:after {
    transition: opacity 300ms 300ms ease, transform 300ms 300ms ease, background-color 250ms linear, color 250ms linear;
    opacity: 1;
    pointer-events: auto;
    transform: translateY(0);
}

.modal {
    position: fixed;
    display: block;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0 auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow-x: hidden;
    background-color: rgba(31, 32, 41, .75);
    pointer-events: none;
    opacity: 0;
    transition: opacity 250ms 700ms ease;
}

.modal-btn:checked~.modal {
    pointer-events: auto;
    opacity: 1;
    transition: all 300ms ease-in-out;
}

.modal-wrap {
    position: relative;
    display: block;
    height: 95vh;
    width: 100%;
    max-width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 4px;
    overflow: auto;
    padding-bottom: 20px;
    background-color: #fff;
    -ms-flex-item-align: top;
    align-self: top;
    box-shadow: 0 12px 25px 0 rgba(199, 175, 189, .25);
    opacity: 0;
    transform: scale(0.6);
    transition: opacity 250ms 250ms ease, transform 300ms 250ms ease;
}

.modal-wrap p {
    padding: 20px 30px 0 30px;
}

.modal-btn:checked~.modal .modal-wrap {
    opacity: 1;
    transform: scale(1);
    transition: opacity 250ms 500ms ease, transform 350ms 500ms ease;
}

.modal-wrap h3 {
    padding: 20px 30px 0 30px;
}

@media screen and (max-width: 425px) {
    .modal-wrap {
        width: calc(100% - 40px);
        padding-bottom: 15px;
    }

    .modal-wrap p {
        padding: 15px 20px 0 20px;
    }

    .modal-wrap h3 {
        padding: 15px 20px 0 20px;
    }

    .modal-btn:checked+label,
    .modal-btn:not(:checked)+label {
        width: 100%;
    }

    .modal-btn:checked+label:after,
    .modal-btn:not(:checked)+label:after {
        right: 5px;
        width: 20px;
    }
}