.button {
    position: relative;
    font-weight: 500;
    font-size: 15px;
    line-height: 2;
    height: 50px;
    transition: all 200ms linear;
    border-radius: 4px;
    width: 50% !important;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    -ms-flex-item-align: center;
    align-self: center;
    border: none;
    cursor: pointer;
    background-color: #1A2F26;
    color: #E3967A;
    box-shadow: 0 12px 35px 0 rgba(16, 39, 112, .25);
}

.button:hover {
    background-color: #E3967A;
    color: #1A2F26;
    text-decoration: none;
}

[id^=modal] {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
}

[id^=modal]:target {
    display: block;
}

input[type=checkbox] {
    position: absolute;
    clip: rect(0 0 0 0);
}

.popup {
    width: 100%;
    height: 100%;
    z-index: 99999;
}

.popup__overlay {
    position: fixed;
    z-index: 1;
    display: block;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #000000b3;
}

.popup__wrapper {
    position: fixed;
    z-index: 9;
    max-height: 95vh;
    width: 80%;
    max-width: 1200px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 8px;
    padding: 10px 20px;
    background: #fff;
    overflow-y: auto;
}

.popup__close {
    position: absolute;
    top: 20px;
    right: 20px;
    color: #1A2F26;
}

.popup__close:hover {
    color: #E3967A;
    text-decoration: none;
}

@media (max-width: 600px) {
    .narrow-modal {
        display: block;
    }

    .button-group {
        display: block;
    }

    .button {
        margin-top: 10px;
        width: 100% !important;
    }
}