.nav {
    background: #E3967A !important;
    box-shadow: none;
    margin: 0 !important;
    margin-bottom: 2%;
    padding: 10px;
    width: 100% !important;
    padding: 20px;
    height: 15vh;
}

.content {
    display: inline-block;
}

.header-title {
    padding: 0px !important;
    margin: 0px !important;
    font-size: 2vw;
    color: #1A2F26 !important;
}

.header-name {
    padding-top: 5px !important;
    margin: 0px !important;
    font-size: 1.5vw;
    color: #422E16 !important;
}

.menu-wrap {
    position: static;
    top: 0;
    left: 0;
    z-index: 101;
}

.menu-wrap .toggler {
    position: relative;
    top: -6.5vh;
    left: calc(100vw - 17vw);
    z-index: 102;
    cursor: pointer;
    width: 50px;
    height: 50px;
    opacity: 0;
}

.menu-wrap .hamburger {
    position: relative;
    top: calc(-6.5vh - 60px);
    left: calc(100vw - 18vw);
    z-index: 101;
    width: 60px;
    height: 60px;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-wrap .hamburger>div {
    position: relative;
    width: 100%;
    height: 2px;
    background-color: #1A2F26;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.4s ease;
}

.menu-wrap .hamburger>div:before,
.menu-wrap .hamburger>div:after {
    content: '';
    position: absolute;
    z-index: 101;
    top: -10px;
    width: 100%;
    height: 2px;
    background: inherit;
}

.menu-wrap .hamburger>div:after {
    top: 10px;
}

.menu-wrap .toggler:checked+.hamburger>div {
    transform: rotate(135deg);
}

.menu-wrap .toggler:checked+.hamburger>div:before,
.menu-wrap .toggler:checked+.hamburger>div:after {
    top: 0;
    transform: rotate(90deg);
}

.menu-wrap .toggler:checked:hover+.hamburger>div {
    transform: rotate(225deg);
}

.menu-wrap .toggler:checked~.menu {
    visibility: visible;
}

.menu-wrap .toggler:checked~.menu>div {
    transform: scale(1);
    transition-duration: 0.5s;
}

.menu-wrap .toggler:checked~.menu>div>div {
    opacity: 1;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    visibility: hidden;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(31, 32, 41, .75);
    z-index: 100; 
}

.menu-wrap .menu>div {
    background: #FBA77B;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 10px;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    display: flex;
    flex: none;
    align-items: center;
    justify-content: center;
    transform: scale(0);
    transition: all 0.4s ease;
}

.menu-wrap .menu>div>div {
    text-align: center;
    max-width: 90vw;
    max-height: 100vh;
    opacity: 0;
    transition: opacity 0.4s ease;
}

.menu-wrap .menu>div>div>ul>li {
    list-style: none;
    color: #fff;
    font-size: 1.5rem;
    padding: 1rem;
}

.menu-wrap .menu>div>div>ul>li>a {
    color: inherit;
    text-decoration: none;
    transition: color 0.4s ease;
}

.list a {
    font-size: 2.5vw;
    text-decoration: none;
    color: #fff;
    display: block;
    border-bottom: 2px solid transparent;
    transition: all 0.4s ease;
}

.list a:hover {
    color: #422E16 !important;
}



@media (max-width: 1025px) {
    .list a {
        font-size: 4vw;
    }

    .menu-wrap .toggler {
        top: -10vh;
        left: calc(100vw - 9vw);
    }

    .menu-wrap .hamburger {
        top: calc(-10vh - 60px);
        left: calc(100vw - 10vw);
    }
}

@media (max-width: 769px) {
    .list a {
        font-size: 4vw;
    }

    .menu-wrap .toggler {
        top: -10vh;
        left: calc(100vw - 10vw);
    }

    .menu-wrap .hamburger {
        top: calc(-10vh - 60px);
        left: calc(100vw - 11vw);
    }
}

@media (max-width: 426px) {
    .list a {
        font-size: 5.5vw;
    }

    .header-title {
        padding: 0px !important;
        margin: 0px !important;
        font-size: 4vw;
        color: #1A2F26 !important;
    }

    .header-name {
        padding-top: 0px !important;
        margin: 0px !important;
        font-size: 2.5vw;
        color: #422E16 !important;
    }

    .narrow {
        display: block
    }

    .menu-wrap .toggler {
        left: calc(100vw - 90px);
    }

    .menu-wrap .hamburger {
        left: calc(100vw - 90px);
    }
}

@media (max-height: 300px) {
    .menu-wrap .menu>div>div>ul>li {
        padding: .25rem;
    }

    .list a {
        font-size: 1.5vw;
    }

    .nav {
        height: 30vh;
    }

    .menu-wrap .toggler {
        top: -20vh;
        left: calc(100vw - 10vw);
    }

    .menu-wrap .hamburger {
        top: calc(-20vh - 60px);
        left: calc(100vw - 11vw);
    }
}